*{
    box-sizing: border-box;
}
body{
    background-color: rgb(238, 238, 238);
}
.card-wrapper{
    display: flex;
    overflow-x: auto;
    justify-content: start;
    scroll-behavior: smooth;
    scrollbar-width:none;
}
.card{
    background-color: white;
    min-width: 250px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}
.card-head{
    width: 100%;
}
.card-head img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
@media screen and (min-width:450px){
    
}
@media screen and (max-width:450px) {
    body{
        background-color: black;
    }
    .card-wrapper{
        overflow-x: auto;
    }
}
h2{
    color: tomato;
}
