body{
    background: url('../assets/park-7153125.png');
}
.gif img{
    position: absolute;
    width: 100%;
}
#alert{
    max-width: 500px;
    min-width: 300px;
    height: 60px;
    border-radius: 5px;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.534);
    box-shadow: 1px -5px 5px rgba(0, 0, 0, 0.04) inset, 0px 6px 5px rgba(0, 0, 0, 0.051) inset;
    color: black !important;
    font-size: 14px;
}
.attempt p{
    background-color: rgba(230, 230, 230, 0.577);
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.868);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.241);
}

.footer-wrapper{
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: -1px;
    width: 100%;
    padding: 18px 0;
    background-color: rgb(255, 255, 255);
    color: rgba(52, 52, 52, 0.823) !important;
}
.footer-wrapper i{
    font-size: 20pt;
    cursor: pointer;
}
.showOptions{
    min-height: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
}

.loginframe{
    position: absolute;
    top: 50%;
    background:linear-gradient(45deg,rgba(211, 211, 211, 0.162), rgba(255, 255, 255, 0.632), rgba(194, 194, 194, 0.162) ) ;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(226, 2, 2, 0.312);
}

nav{
    color: rgb(73, 73, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.09);
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav li{
    padding: 20px 20px;
    border-bottom: 2px solid transparent;
}
nav li:hover{
    border-bottom: rgba(255, 255, 255, 0.419) 2px solid;
    transition: 1s ease;
}
.wrapper{
    border-radius: 20px;
    margin: 0 0 50px 0;
    background-color: rgba(245, 245, 245, 0.571);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.13);
}
.wrapper i{
    font-size: 100px !important;
}
    
nav .nav-active{
    border-bottom: 2px solid rgba(0, 0, 0, 0.381);
}
.takeinput{
    border-radius: 50px 0 0 50px;
    padding: 6px 30px;
    border: none;
    font-size: 24pt;
    min-width: 30%;
    max-width: 70%;
}
.submitbtn{
    border-radius: 0  50px 50px 0;
    padding: 6px 20px;
    border: none;
    font-size: 12pt;
}
.hidden{
    display: none;
}
.score-icon{
    background: url("../assets/speedometer.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}
.scoreboard{
    background-color: rgba(245, 245, 245, 0.571);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
}
.refreshBtn{
    width: 100%;
    padding: 15px !important;
    font-size: 15pt !important;
}
@media screen and (max-width: 420px){
    

}

