*{
    box-sizing: border-box;
}
.calendar-view{
    min-width: 60%;
    max-width: 100%; 
    min-height: 100vh;
    margin: auto;
    padding: 3%;
    /* background-color: white; */
    background-color:rgba(248, 39, 39, 0.364);
    background-blend-mode: screen;
}
.calendar-head{
    display: grid;
    grid-template-columns: repeat(7,auto);
    gap: 10px 30px;
    text-align: center;
    align-items: center;
    color: rgb(29, 29, 29);
    margin-bottom: 20px;
}
.calendar-body{
    display: grid;
    grid-template-columns:repeat(7,auto);
    grid-template-rows: repeat(6,100px);
    text-align: center;
    gap: 10px 10px;
}
.calendar-head div{
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.calendar-body div{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background:linear-gradient(rgba(255, 255, 255, 0.349),rgba(255, 255, 255, 0.233)) ;
    border-radius: 5px;
    box-shadow: 0 5px 0px rgba(20, 20, 20, 0.059);
    border: 1px solid rgba(255, 255, 255, 0.184);
    font-size: 150%;
    font-weight: bold;
    color: rgba(35, 18, 3, 0.758);
    position: relative;
}
.calendar-body div:hover{
    background-color: rgba(255, 255, 255, 0.327);
    color: rgba(31, 31, 31, 0.492);
    transition: .6s ease;
    box-shadow: none;
}
.disabled{
    /* background-color: grey !important; */
    color: white !important;
    opacity: 0.3;
}
.selected{
    background-color: rgba(255, 255, 255, 0.327) !important;
    box-shadow: none !important;
    color: rgba(31, 31, 31, 0.492) !important;
    border: 1px solid rgba(255, 255, 255, 0.303) !important;
}
/* my-modal styles */
.my_modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: 70%;
    min-width: 60%;
    min-height: 150px;
    background-color: white;
    position: fixed;
    border-radius: 5px;
}
.my_modal_header{}
.my_modal_body{
    max-height: 200px;
    overflow-y: auto;
}
.my_modal_footer{}
table,td{
    border: none !important;
}
.notify-active{
    position: absolute;
    width: 15px;
    max-height: 15px;
    border-radius: 80px;
    top: -50%;
    left: 80%;
    /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.181); */
    background-color: rgba(255, 0, 0, 0.604) !important;
    animation: scaleupDown 3s ease infinite;
}
@keyframes scaleupDown {
    0%{
        transform: scale(50%);
        background-color: red !important;
    }
    50%{transform: scale(150%);}
    100%{transform: scale(50%);}
}
@media screen and (max-width:600px) {
    .calendar-body{
        display: grid;
        grid-template-columns:repeat(7,auto);
        grid-template-rows: repeat(6,50px);
        text-align: center;
        gap: 10px 10px;
    }
    .my_modal{
        width: 85%;
    }
}