*{
    box-sizing: border-box;
}
.calendar-view{
    min-width: 60%;
    max-width: 100%; 
    margin: auto;
    padding: 3%;
    /* background-color: white; */
    background:linear-gradient(45deg,rgb(255, 106, 0),rgb(255, 221, 0)),url('../assets/76465be29d569c472727be6a411ad880.jpg');
    background-blend-mode: screen;
}
.calendar-head{
    display: grid;
    grid-template-columns: repeat(7,auto);
    gap: 10px 30px;
    text-align: center;
    align-items: center;
    color: rgb(29, 29, 29);
    margin-bottom: 20px;
}
.calendar-body{
    display: grid;
    grid-template-columns:repeat(7,auto);
    grid-template-rows: repeat(6,100px);
    text-align: center;
    gap: 10px 10px;
}
.calendar-head div{
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.calendar-body div{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background:linear-gradient(rgba(255, 255, 255, 0.349),rgba(255, 255, 255, 0.233)) ;
    border-radius: 5px;
    box-shadow: 0 5px 0px rgba(20, 20, 20, 0.059);
    border: 1px solid rgba(255, 255, 255, 0.184);
    font-size: 150%;
    font-weight: bold;
    color: rgba(35, 18, 3, 0.758);
}
.calendar-body div:hover{
    background-color: rgba(255, 255, 255, 0.327);
    color: rgba(31, 31, 31, 0.492);
    transition: .6s ease;
    box-shadow: none;
}
.disabled{
    /* background-color: grey !important; */
    color: white !important;
    opacity: 0.3;
}
.selected{
    background-color: rgba(255, 255, 255, 0.327) !important;
    box-shadow: none !important;
    color: rgba(31, 31, 31, 0.492) !important;
    border: 1px solid rgba(255, 255, 255, 0.303) !important;
}

@media screen and (max-width:600px) {
    .calendar-body{
        display: grid;
        grid-template-columns:repeat(7,auto);
        grid-template-rows: repeat(6,50px);
        text-align: center;
        gap: 10px 10px;
    }
}